<%= link_to("Back to Homepage", books_path) %>

<h2>Update Book</h2>

<%= form_for(@book) do |f| %>
	<table>
		<tr>
			<th align="left">Book Title</th>
			<td><%= f.text_field :title, id:"Title" %></td>
		</tr>
		<tr>
			<th align="left">Author</th>
			<td><%= f.text_field :author, id:"Author" %></td>
		</tr>	
		<tr>
			<th align="left">Price</th>
			<td><%= f.number_field :price, step: 0.01, id:"Price" %></td>
		</tr>		
		<tr>
			<th align="left">Date Published</th>
			<td><%= f.date_field :published_date, id:"Published date" %></td>
		</tr>			
	</table>

	<div>
		<%= f.submit("Update Book") %>
	</div>

<% end %>
